///////////////////assets/style/receipt
.receipt-header {
  background-color: $brand-color-primary;
  height: 300px;
}
.receipt-logo {
  background-color: white;
  border: solid 6px white;
}
.receipt-body {
  
}
.receipt-price {
  
}
.receipt-info {

}